* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;\font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(black, #310949);
}

img {
	max-width: 100%;
}

header {
	background: #202020;
	border-bottom: 7px solid white;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
}

.logo {
	background: #310949;
	border: 7px solid white;
}

main {
	min-height: 100%;
	margin-bottom: -50px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#p5canvas {
	margin: auto;
	width: 50%;
}

footer {
	background: #202020;
	border-top: 7px solid white;
	display: grid;
	grid-template-columns: 300px 300px;
	justify-content: center;
	grid-gap: 50px;
	padding-top: 5px;
}